{
    "version": 2,
    "entities": [
        {
            "name": "Floor",
            "type": "GameObject/Cube",
            "mesh": "Sandbox/assets/cube.obj",
            "transform": {
                "position": [
                    0.0,
                    -1.0,
                    0.0
                ],
                "rotation": [
                    0.0,
                    0.0,
                    0.0
                ],
                "scale": [
                    10.0,
                    1.0,
                    10.0
                ]
            },
            "material": {
                "properties": {
                    "u_Color": [
                        1.0,
                        1.0,
                        1.0
                    ],
                    "u_Shininess": 16.0,
                    "u_HasTexture": true,
                    "u_HasNormalTexture": true
                },
                "shader": {
                    "fragment": "Sandbox/assets/shaders/shader.frag",
                    "vertex": "Sandbox/assets/shaders/shader.vert"
                },
                "textures": {
                    "T_Color": "Sandbox/assets/brick.jpg",
                    "T_Normal": "Sandbox/assets/brickNormal.png"
                }
            }
        },
        {
            "name": "Cube1",
            "type": "GameObject/Cube",
            "mesh": "Sandbox/assets/cube.obj",
            "transform": {
                "position": [
                    0.0,
                    0.0,
                    0.0
                ],
                "rotation": [
                    0.0,
                    0.0,
                    0.0
                ],
                "scale": [
                    1.0,
                    1.0,
                    1.0
                ]
            },
            "material": {
                "properties": {
                    "u_Color": [
                        1.0,
                        1.0,
                        1.0
                    ],
                    "u_Shininess": 16.0,
                    "u_HasTexture": true,
                    "u_HasNormalTexture": true
                },
                "shader": {
                    "fragment": "Sandbox/assets/shaders/shader.frag",
                    "vertex": "Sandbox/assets/shaders/shader.vert"
                },
                "textures": {
                    "T_Color": "Sandbox/assets/brick.jpg",
                    "T_Normal": "Sandbox/assets/brickNormal.png"
                }
            }
        },
        {
            "name": "Cube2",
            "type": "GameObject/Cube",
            "parent": 1,
            "mesh": "Sandbox/assets/cube.obj",
            "transform": {
                "position": [
                    -4.0,
                    0.0,
                    0.0
                ],
                "rotation": [
                    0.0,
                    0.0,
                    0.0
                ],
                "scale": [
                    1.0,
                    1.0,
                    1.0
                ]
            },
            "material": {
                "properties": {
                    "u_Color": [
                        1.0,
                        1.0,
                        1.0
                    ],
                    "u_Shininess": 16.0,
                    "u_HasTexture": true,
                    "u_HasNormalTexture": true
                },
                "shader": {
                    "fragment": "Sandbox/assets/shaders/shader.frag",
                    "vertex": "Sandbox/assets/shaders/shader.vert"
                },
                "textures": {
                    "T_Color": "Sandbox/assets/brick.jpg",
                    "T_Normal": "Sandbox/assets/brickNormal.png"
                }
            }
        },
        {
            "name": "Cube3",
            "type": "GameObject/Cube",
            "parent": 2,
            "mesh": "Sandbox/assets/cube.obj",
            "transform": {
                "position": [
                    8.0,
                    0.0,
                    0.0
                ],
                "rotation": [
                    0.0,
                    0.0,
                    0.0
                ],
                "scale": [
                    1.0,
                    1.0,
                    1.0
                ]
            },
            "material": {
                "properties": {
                    "u_Color": [
                        1.0,
                        1.0,
                        1.0
                    ],
                    "u_Shininess": 16.0,
                    "u_HasTexture": true,
                    "u_HasNormalTexture": true
                },
                "shader": {
                    "fragment": "Sandbox/assets/shaders/shader.frag",
                    "vertex": "Sandbox/assets/shaders/shader.vert"
                },
                "textures": {
                    "T_Color": "Sandbox/assets/brick.jpg",
                    "T_Normal": "Sandbox/assets/brickNormal.png"
                }
            }
        },
        {
            "name": "Cube4",
            "type": "GameObject/Cube",
            "parent": 1,
            "mesh": "Sandbox/assets/cube.obj",
            "transform": {
                "position": [
                    0.0,
                    2.0,
                    0.0
                ],
                "rotation": [
                    0.0,
                    0.0,
                    0.0
                ],
                "scale": [
                    1.0,
                    1.0,
                    1.0
                ]
            },
            "material": {
                "properties": {
                    "u_Color": [
                        1.0,
                        1.0,
                        1.0
                    ],
                    "u_Shininess": 16.0,
                    "u_HasTexture": true,
                    "u_HasNormalTexture": true
                },
                "shader": {
                    "fragment": "Sandbox/assets/shaders/shader.frag",
                    "vertex": "Sandbox/assets/shaders/shader.vert"
                },
                "textures": {
                    "T_Color": "Sandbox/assets/brick.jpg",
                    "T_Normal": "Sandbox/assets/brickNormal.png"
                }
            }
        },
        {
            "name": "Teapot",
            "type": "GameObject/Cube",
            "mesh": "Sandbox/assets/teapot.obj",
            "transform": {
                "position": [
                    -4.0,
                    1.0,
                    0.0
                ],
                "rotation": [
                    0.0,
                    0.7799999713897705,
                    0.0
                ],
                "scale": [
                    0.375,
                    0.375,
                    0.375
                ]
            },
            "material": {
                "properties": {
                    "u_Color": [
                        0.42,
                        0.76,
                        0.2
                    ],
                    "u_Shininess": 128.0,
                    "u_HasTexture": false,
                    "u_HasNormalTexture": false
                },
                "shader": {
                    "fragment": "Sandbox/assets/shaders/shader.frag",
                    "vertex": "Sandbox/assets/shaders/shader.vert"
                },
                "textures": {}
            }
        },
        {
            "name": "Monkey",
            "type": "GameObject/Cube",
            "mesh": "Sandbox/assets/monkey.obj",
            "transform": {
                "position": [
                    4.0,
                    1.375,
                    0.0
                ],
                "rotation": [
                    -0.8615226745605469,
                    -0.5631276965141296,
                    -0.4750273525714874
                ],
                "scale": [
                    0.75,
                    0.75,
                    0.75
                ]
            },
            "material": {
                "properties": {
                    "u_Color": [
                        0.2,
                        0.2,
                        1.0
                    ],
                    "u_Shininess": 1024.0,
                    "u_HasTexture": false,
                    "u_HasNormalTexture": false
                },
                "shader": {
                    "fragment": "Sandbox/assets/shaders/shader.frag",
                    "vertex": "Sandbox/assets/shaders/shader.vert"
                },
                "textures": {}
            }
        },
        {
            "type": "Light/Point",
            "name": "Lamp",
            "position": [
                -6.0,
                4.0,
                -6.0
            ],
            "color": [
                1.0,
                1.0,
                1.0
            ],
            "intensity": 2.0,
            "range": 10.0
        },
        {
            "type": "Light/Spot",
            "name": "SpotLamp",
            "position": [
                4.0,
                3.0,
                1.0
            ],
            "direction": [
                1.0,
                -1.0,
                1.0
            ],
            "color": [
                1.0,
                0.0,
                0.0
            ],
            "intensity": 10.0,
            "range": 12.0,
            "innerCone": 25.0,
            "outerCone": 25.0
        },
        {
            "type": "Light/Spot",
            "name": "SpotLamp1",
            "position": [
                4.0,
                3.0,
                1
            ],
            "direction": [
                0.0,
                -1.0,
                1.0
            ],
            "color": [
                0.0,
                1.0,
                0.0
            ],
            "intensity": 10.0,
            "range": 12.0,
            "innerCone": 25.0,
            "outerCone": 25.0
        },
        {
            "type": "Light/Spot",
            "name": "SpotLamp2",
            "position": [
                4.0,
                3.0,
                1
            ],
            "direction": [
                -1.0,
                -1.0,
                1.0
            ],
            "color": [
                0.0,
                0.0,
                1.0
            ],
            "intensity": 10.0,
            "range": 12.0,
            "innerCone": 25.0,
            "outerCone": 25.0
        },
        {
            "type": "Light/Directional",
            "name": "Sun",
            "direction": [
                -0.3,
                -1.0,
                -0.2
            ],
            "color": [
                1.0,
                0.95,
                0.85
            ],
            "intensity": 0.2
        }
    ]
}