{
    "entities": [
        {
            "material": {
                "properties": {
                    "u_Color": [
                        1.0,
                        1.0,
                        1.0
                    ],
                    "u_HasNormalTexture": true,
                    "u_HasTexture": true,
                    "u_Shininess": 16.0,
                    "u_UVTiling": [
                        6.0,
                        4.0
                    ]
                },
                "shader": {
                    "fragment": "Sandbox/assets/shaders/shader.frag",
                    "vertex": "Sandbox/assets/shaders/shader.vert"
                },
                "textures": {
                    "T_Color": "Sandbox/assets/brick.jpg",
                    "T_Normal": "Sandbox/assets/brickNormal.png"
                }
            },
            "mesh": "Sandbox/assets/cube.obj",
            "name": "Floor",
            "transform": {
                "position": [
                    0.0,
                    -1.0,
                    0.0
                ],
                "rotation": [
                    0.0,
                    0.0,
                    0.0
                ],
                "scale": [
                    10.0,
                    1.0,
                    10.0
                ]
            },
            "type": "GameObject/Cube"
        },
        {
            "material": {
                "properties": {
                    "u_Color": [
                        1.0,
                        1.0,
                        1.0
                    ],
                    "u_HasNormalTexture": true,
                    "u_HasTexture": true,
                    "u_Shininess": 16.0,
                    "u_UVTiling": [
                        1.0,
                        1.0
                    ]
                },
                "shader": {
                    "fragment": "Sandbox/assets/shaders/shader.frag",
                    "vertex": "Sandbox/assets/shaders/shader.vert"
                },
                "textures": {
                    "T_Color": "Sandbox/assets/brick.jpg",
                    "T_Normal": "Sandbox/assets/brickNormal.png"
                }
            },
            "mesh": "Sandbox/assets/cube.obj",
            "name": "Cube1",
            "transform": {
                "position": [
                    0.0,
                    0.0,
                    0.0
                ],
                "rotation": [
                    0.0,
                    0.0,
                    0.0
                ],
                "scale": [
                    1.0,
                    1.0,
                    1.0
                ]
            },
            "type": "GameObject/Cube"
        },
        {
            "material": {
                "properties": {
                    "u_Color": [
                        1.0,
                        1.0,
                        1.0
                    ],
                    "u_HasNormalTexture": true,
                    "u_HasTexture": true,
                    "u_Shininess": 16.0,
                    "u_UVTiling": [
                        1.0,
                        1.0
                    ]
                },
                "shader": {
                    "fragment": "Sandbox/assets/shaders/shader.frag",
                    "vertex": "Sandbox/assets/shaders/shader.vert"
                },
                "textures": {
                    "T_Color": "Sandbox/assets/brick.jpg",
                    "T_Normal": "Sandbox/assets/brickNormal.png"
                }
            },
            "mesh": "Sandbox/assets/cube.obj",
            "name": "Cube2",
            "parent": 1,
            "transform": {
                "position": [
                    -4.0,
                    0.0,
                    0.0
                ],
                "rotation": [
                    0.0,
                    0.0,
                    0.0
                ],
                "scale": [
                    1.0,
                    1.0,
                    1.0
                ]
            },
            "type": "GameObject/Cube"
        },
        {
            "material": {
                "properties": {
                    "u_Color": [
                        1.0,
                        1.0,
                        1.0
                    ],
                    "u_HasNormalTexture": true,
                    "u_HasTexture": true,
                    "u_Shininess": 16.0,
                    "u_UVTiling": [
                        1.0,
                        1.0
                    ]
                },
                "shader": {
                    "fragment": "Sandbox/assets/shaders/shader.frag",
                    "vertex": "Sandbox/assets/shaders/shader.vert"
                },
                "textures": {
                    "T_Color": "Sandbox/assets/brick.jpg",
                    "T_Normal": "Sandbox/assets/brickNormal.png"
                }
            },
            "mesh": "Sandbox/assets/cube.obj",
            "name": "Cube3",
            "parent": 2,
            "transform": {
                "position": [
                    8.0,
                    0.0,
                    0.0
                ],
                "rotation": [
                    0.0,
                    0.0,
                    0.0
                ],
                "scale": [
                    1.0,
                    1.0,
                    1.0
                ]
            },
            "type": "GameObject/Cube"
        },
        {
            "material": {
                "properties": {
                    "u_Color": [
                        1.0,
                        1.0,
                        1.0
                    ],
                    "u_HasNormalTexture": true,
                    "u_HasTexture": true,
                    "u_Shininess": 16.0,
                    "u_UVTiling": [
                        1.0,
                        1.0
                    ]
                },
                "shader": {
                    "fragment": "Sandbox/assets/shaders/shader.frag",
                    "vertex": "Sandbox/assets/shaders/shader.vert"
                },
                "textures": {
                    "T_Color": "Sandbox/assets/brick.jpg",
                    "T_Normal": "Sandbox/assets/brickNormal.png"
                }
            },
            "mesh": "Sandbox/assets/cube.obj",
            "name": "Cube4",
            "parent": 1,
            "transform": {
                "position": [
                    0.0,
                    2.0,
                    0.0
                ],
                "rotation": [
                    0.0,
                    0.0,
                    0.0
                ],
                "scale": [
                    1.0,
                    1.0,
                    1.0
                ]
            },
            "type": "GameObject/Cube"
        },
        {
            "material": {
                "properties": {
                    "u_Color": [
                        0.41999998688697815,
                        0.7599999904632568,
                        0.20000000298023224
                    ],
                    "u_HasNormalTexture": false,
                    "u_HasTexture": false,
                    "u_Shininess": 128.0,
                    "u_UVTiling": [
                        1.0,
                        1.0
                    ]
                },
                "shader": {
                    "fragment": "Sandbox/assets/shaders/shader.frag",
                    "vertex": "Sandbox/assets/shaders/shader.vert"
                },
                "textures": {
                    "T_Color": "Sandbox\\assets\\teapot.png",
                    "T_Normal": "Sandbox\\assets\\teapot.png"
                }
            },
            "mesh": "Sandbox/assets/teapot.obj",
            "name": "Teapot",
            "transform": {
                "position": [
                    -4.0,
                    1.0,
                    0.0
                ],
                "rotation": [
                    0.0,
                    0.7799999713897705,
                    0.0
                ],
                "scale": [
                    0.375,
                    0.375,
                    0.375
                ]
            },
            "type": "GameObject/Cube"
        },
        {
            "material": {
                "properties": {
                    "u_Color": [
                        0.20000000298023224,
                        0.20000000298023224,
                        1.0
                    ],
                    "u_HasNormalTexture": false,
                    "u_HasTexture": false,
                    "u_Shininess": 1024.0,
                    "u_UVTiling": [
                        1.0,
                        1.0
                    ]
                },
                "shader": {
                    "fragment": "Sandbox/assets/shaders/shader.frag",
                    "vertex": "Sandbox/assets/shaders/shader.vert"
                },
                "textures": {
                    "T_Color": "Sandbox\\assets\\teapot.png",
                    "T_Normal": "Sandbox\\assets\\teapot.png"
                }
            },
            "mesh": "Sandbox/assets/monkey.obj",
            "name": "Monkey",
            "transform": {
                "position": [
                    4.0,
                    1.375,
                    0.0
                ],
                "rotation": [
                    -0.8615226745605469,
                    -0.5631276965141296,
                    -0.4750273525714874
                ],
                "scale": [
                    0.75,
                    0.75,
                    0.75
                ]
            },
            "type": "GameObject/Cube"
        },
        {
            "color": [
                1.0,
                0.2549019753932953,
                0.7019608020782471
            ],
            "intensity": 1.149999976158142,
            "name": "Lamp",
            "position": [
                0.0,
                5.349999904632568,
                0.0
            ],
            "range": 11.800000190734863,
            "type": "Light/Point"
        },
        {
            "color": [
                1.0,
                0.0,
                0.0
            ],
            "direction": [
                0.4000000059604645,
                -0.4399999976158142,
                -0.9599999785423279
            ],
            "innerCone": 4.699999809265137,
            "intensity": 5.0,
            "name": "SpotLamp",
            "outerCone": 32.5,
            "position": [
                0.0,
                5.400000095367432,
                10.600000381469727
            ],
            "range": 15.5,
            "type": "Light/Spot"
        },
        {
            "color": [
                0.0,
                1.0,
                0.0
            ],
            "direction": [
                0.0,
                -1.1699999570846558,
                1.0
            ],
            "innerCone": 15.199999809265137,
            "intensity": 10.0,
            "name": "SpotLamp1",
            "outerCone": 25.0,
            "position": [
                4.599999904632568,
                5.349999904632568,
                -4.349999904632568
            ],
            "range": 12.0,
            "type": "Light/Spot"
        },
        {
            "color": [
                0.0,
                0.0,
                1.0
            ],
            "direction": [
                9.65999984741211,
                -3.2100000381469727,
                0.75
            ],
            "innerCone": 6.300000190734863,
            "intensity": 12.050000190734863,
            "name": "SpotLamp2",
            "outerCone": 25.0,
            "position": [
                -12.600000381469727,
                5.449999809265137,
                0.0
            ],
            "range": 16.899999618530273,
            "type": "Light/Spot"
        },
        {
            "color": [
                1.0,
                0.949999988079071,
                0.8500000238418579
            ],
            "direction": [
                -0.30000001192092896,
                -1.0,
                -0.20000000298023224
            ],
            "intensity": 0.20000000298023224,
            "name": "Sun",
            "type": "Light/Directional"
        }
    ],
    "version": 2
}